*{
    padding: 0px;
    margin: 0%;
}

.down-cont{
    background: #f1f5ff;
    height: 400px;
    width: 100%;
    text-align: center;
    font-size: 50px;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.play-store{
    display: flex;
    /* border: 1px solid red; */
    justify-content: space-evenly;
    width: 35%;
    margin: 20px;
}
.play-store:nth-child(1){

    width: 300px;
}
.play-store:nth-child(2){

    width: 250px;
}