*{
    margin: 0px;
    padding: 0px;
}

#feature-cont{
/* margin-top: 80px; */
display: flex;
height: auto;
background-color: white;
background-color: transparent;
width: 100%;
padding: 30px;
justify-content: space-evenly;
align-items: center;
}
#feature-cont>div:nth-child(n)>img{
    width: 500px;
    height: auto;

}

.second-cont{
/* border: 1px solid black; */
height:auto;
width: 40%;
background: white;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.f-heading{
    font-size: 30px;
    font-weight: 600;
    background-color: #ff6032;
    color: white;
    text-align:center;
    margin-top: 30px;
    padding: 10px;
}
.headings-features{
    font-size: 30px;
    color: #ff6032;
    text-align: center;
    padding: 15px;
}
.box{
    width: 40%;
     height: auto;
    background-color: #DDFFF7;
    position: relative;
    box-shadow: 10px 10px 42px 0 rgba(0,0,0,0.75);
  }
  .box:after, .box:before{
    mix-blend-mode:multiply;
    filter:none;
    z-index: -1;
    content:'';
    width:calc(100% + (50px * 2));
    height:calc(100% + (50px * 2));
    
    position: absolute;
    display: block;
    animation: border 10s ease-in-out infinite;
    transform:translateX(-50px) translateY(-50px);
  }
  @keyframes border {
    0%, 100% {
      -webkit-clip-path: polygon(0 0, calc(100% - (33.3333333333px)) calc(0% + (33.3333333333px)), 100% 100%, calc(0% + (33.3333333333px)) calc(100% - (33.3333333333px)));
              clip-path: polygon(0 0, calc(100% - (33.3333333333px)) calc(0% + (33.3333333333px)), 100% 100%, calc(0% + (33.3333333333px)) calc(100% - (33.3333333333px)));
    }
    50% {
      -webkit-clip-path: polygon(calc(0% + (33.3333333333px)) calc(0% + (33.3333333333px)), 100% 0, calc(100% - (33.3333333333px)) calc(100% - (33.3333333333px)), 0 100%);
              clip-path: polygon(calc(0% + (33.3333333333px)) calc(0% + (33.3333333333px)), 100% 0, calc(100% - (33.3333333333px)) calc(100% - (33.3333333333px)), 0 100%);
    }
  }
  
  /* .box:after{
    animation-delay: -5s;
    background-color: #f0f0f0;
    clip-path: polygon(0 0, calc(100% - (33.3333333333px)) calc(0% + (33.3333333333px)), 100% 100%, calc(0% + (33.3333333333px)) calc(100% - (33.3333333333px)));
  } */
  .box:before {
    background-color: #fa5e32;
      clip-path: polygon(calc(0% + (33.3333333333px)) calc(0% + (33.3333333333px)), 100% 0, calc(100% - (33.3333333333px)) calc(100% - (33.3333333333px)), 0 100%);
  }
  
  /* .box:hover:after{
    animation-delay: -0.1s;
  } */
  /* .box:hover:before, .box:hover:after {
  
            animation-duration: 0.2s;
  } */
/* background: linear-gradient(180deg,#c3e3ff,#ffc8de); */