*{
    margin: 0px;
    padding: 0px;
}

.register-cont>div{
    height: auto;
    width: 350px;
    padding: 10px;
    text-align: start;
    border: 1px solid red;
    background-image: linear-gradient(to right, #ff6032, #ff5057);
    color: white;
    border-radius: 20px;
}
.register-cont{
    display: flex;
    justify-content: end;
    margin-top: 70px;
    margin-right: 50px;

}
.register-cont form>label{
    /* border: 1px solid red; */
    margin-top: 20px;
}
.register-cont form>input{
    color: white;
}
.register-cont form>input::placeholder,
.register-cont form>select::placeholder{
    color: white;
    font-size: 15px;
}